<style>
    #container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: yellow;
    }

    h1 {
        font-size: 5rem;
    }

    label {
        font-size: 1.5rem;
        align-self: flex-start;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        width: 60%;
    }

    #acronym-submit {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 2.5rem;
    }

    #acronym {
        width: 100%;
        font-size: 1.5rem;
    }

    #definitions {
        font-size: 1.5rem;
    }

    @media (max-width: 700px) {
        form {
            width: 90%;
        }
    }
</style>
<div id="container">
    <h1>Goon Translator</h1>
    <form action="/translate">
        <label>Acronym to be decoded:</label>
        <div id="acronym-submit">
            <input id="acronym" name="acronym" type="text"></input>
            <input type="submit" value="Dechode"></input>
        </div>
    </form>
    <div id="definitions">
        {% for acronym in acronyms %}
        <li>{{ acronym["goon definition"] }}</li>
        {% endfor %}
    </div>
</div>